.site,
.site-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.site-overlay {
  background: rgba(49, 49, 49, 0.8);
}
.site-content {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 28px;
  border-radius: 3px;
  width: 80vw;
  min-width: 300px;
  height: 55vw;
  
}

.site-pop-input {
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
  width: 80vw;
  position: relative;
  top: -1vw;
  left: -2.2vw;
}

.site-pop-inp-box {
  margin: 1vw;
}

.site-pop-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-pop-h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  color: #331a55;
  margin: 0.5vw;
}

.site-pop-btn {
  color: #f1f1f1;
  background: #7a4eb6;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 7vw;
  margin: 1vw;
  height: 2vw;
}

.site-pop-ul {
  list-style: none;
  display: flex;
}

.site-pop-li1 {
  text-decoration: none;
  background: #7a4eb6;
  border: 1px solid #7a4eb6;
  color: #ffff;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px 0px 20px;
  width: 7vw;
  text-align: center;
}

.site-pop-li2 {
  text-decoration: none;
  background: #ffffff;
  color: #7a4eb6;
  border: 1px solid #7a4eb6;
  box-sizing: border-box;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.2);
  width: 7vw;
  text-align: center;
}

.site-pop-li3 {
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #7a4eb6;
  box-sizing: border-box;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0px 20px 20px 0px;
  width: 7vw;
  text-align: center;
}

.site-pop-a1 {
  text-decoration: none;
  color: #ffff;
  text-align: center;
}

.site-pop-a2 {
  text-decoration: none;
  color: #7a4eb6;
  text-align: center;
}
.site-pop-a3 {
  text-decoration: none;
  color: #7a4eb6;
  text-align: center;
}

.site-pop-plan-main {
  display: flex;
}

.plan-item {
  display: flex;
  font-size: 0.9vw;
  margin: 0.3vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #6f6f6f;
}

.site-pop-plan-main {
  display: flex;
  justify-content: space-around;
  margin: 1vw;
}

.site-pop-plan {
  background: #ffffff;
  border-radius: 4px;
  height: 23vw;
  border: 1px solid #7a4eb6;
  box-sizing: border-box;
  width: 15vw;
}

.site-pop-plan-type {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  color: #331a55;
  margin: 0.3vw;
}

.site-pop-plan-price {
  margin: 0.3vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  color: #6f6f6f;
}

.site-pop-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  color: #5647ab;
}

.site-pop-plan-end {
  margin: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  color: #6f6f6f;
}

.site-pop-a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  color: #5647ab;
  margin-left: 0.2vw;
}

.site-pop-h4 {
  margin: 1vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9vw;
  color: #6f6f6f;
}

.site-pop-h{
    margin: 1vw;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.2vw;
color: #331A55;
}

.site-pop-end-inp{
    display: flex;
    justify-content: space-around;
}

.site-pop-end-input{
    display: flex;
    justify-content: flex-start;
}



.input-box {
    display: flex;
  }
  
  .input-svg {
    margin: 0.2vw;
  }
  
  .input-inp {
    margin-top: 0.5vw;
    border: 1px solid #adadad;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
    width: 35vw;
  }



