.cb-btn {
  display: flex;
  background-color: #7a4eb6;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.btn-txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  display: flex;
  align-items: center;
  margin: 0;
  letter-spacing: 0em;
}

.prvbtn-txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.2vw;
  display: flex;
  align-items: center;
  margin: 0;
  letter-spacing: 0em;
  color: black;
}

.drpdwn-option {
  font-family:Roboto;
  font-weight: normal;
  font-size: 1vw;
  line-height: 1.2vw;
  display: flex;
  align-items: center;
  margin: 0;
  letter-spacing: 0em;
  color: black;
  cursor: pointer;
}

.drpdwn-title {
  font-family:Roboto;
  font-weight: bold;
  font-size: 1vw;
  line-height: 1.2vw;
  display: flex;
  align-items: center;
  margin: 0;
  letter-spacing: 0em;
  color: black;
}

.input {
  display: flex;
}

.inp {
  display: flex;
  width: 17.6vw;
  height: 4.63vh;
  background-color: #f6f6f6;
  border: 0px solid #adadad;
  border-radius: 4px;
  cursor: pointer;
}

.drpdwn {
  display: flex;
  width: 6.25vw;
  height: 4vh;
  background-color: #fff;
  border: 0px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
