.cm{
font-family: Roboto;
font-size: 2vw;
font-style: normal;
font-weight: 600;
line-height: 2.2vw;
letter-spacing: 0em;
text-align: left;
color:#331A55;
}

.cm-toggle-col{
    padding:.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cm-toggle{
font-family: Roboto;
font-size:1.2vw;
font-style: normal;
font-weight: 700;
line-height:1.5vw;
letter-spacing: 0em;
margin:0;
text-align: left;
cursor: pointer;

}
.cm-cookie-selection{

font-family: Roboto;
font-size: 1.1vw;
font-style: normal;
font-weight: 500;
line-height: 1.3vw;
letter-spacing: 0em;
text-align: left;
cursor: pointer;
}

.description{
  font-family:Roboto;
font-style: normal;
font-weight: 400;
font-size: 1vw;
line-height: 1.2vw;
display: flex;
align-items: center;
color:#6F6F6F;
 margin-Bottom:5vh;
 
}

.language {
    display: flex;
    width: 10.41vw;
    height: 4.26vh;
    background-color: #F6F6F6;
    border-radius: 4px;
    border:1px solid #ADADAD;
    cursor: pointer;
  }
  
  .cookie-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.2vw;
    display: flex;
    align-items: flex-start;
    color:#373737;
  }

  .ct{
    font-family: Roboto;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2vw;
    letter-spacing: 0em;
    text-align: left;
    padding-right:10px;
    color:#1E1A1A;
    }

    .primary-btn{
      display:flex;
      background-color:#7A4EB6;
      border-radius: 4px;
      width:10.4vw;
      height:5vh;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .primary-btn:hover{
      background-color:#7A4EB6;
    }

    .scan-again{
      display: flex;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2vw;
      line-height: 1.3px;
      display: flex;
      align-items: center;
      margin: 0;
      letter-spacing: 0em;
    }

    .mac{
      display: flex; 
      flex:1;
        width: 75 vw;
        /* height: 40vh; */
        background-color: #F6F6F6;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .macc{
      display:flex;
      font-size: .8rem;
      width:70vw;
      flex:1;
      /* align-Items: center; */
      flex-Direction: row;
      justify-content: space-between;
    }

  .macs{
    color: #6F6F6F;
    display:flex;
    flex:1;
    width:12vw;
    justify-Content:flex-start;
  }

  .heading{
    font-family:Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.2vw;
    display: flex;
    align-items: flex-end;
  }
 
  .input{
    display: flex;
    color:#331A55;
    font-size: 1vw;
    line-height: 1.2vw;
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    
  }


    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');
table {
    table-layout: fixed;
    width: 100%;
    
  }
 td {
    padding: 2vw;
    font-size: 1.2vw;
  }


.nes-li{
    color: #331A55;
    font-weight: bold;
}

.nes-lor{
    color: #331A55;
    font-weight: bold;
}

body.active-pop {
  overflow-y: hidden;
}

.btn-pop {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.pop-modal{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.pop-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: 600px;
  min-width: 300px;
  height: 35vw;
}

.pop-h3{
  color: #331A55;
  margin: 1vw;
}

.pop-head{
  display: flex;
  justify-content: space-between;
}

.pop-input1{
  width: 19vw;
  height: 3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.pop-input2{
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 39vw;
  height: 10vw
}

.pop-form{
    display: flex;
    justify-content: space-around;
}

.pop-box3{
  display: flex;
  justify-content: space-between;
}

.pop-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  color: #5647AB;
}
 
.pop-down{
  position: absolute;

}

.close-pop1{
  margin: 0.5vw;
}

.close-pop2{
  margin: 0.5vw;
}

.add-modal{
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.add-content {
  top:20vh;
  left:22vw;
  display:flex;
  outline:none;
  position: absolute;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  background: white;
  padding: 2vw;
  border-radius: 4px;
  width:55.47vw;
  height:49.26vh;
}
.modal{
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}
.modal-content {
  top:20vh;
  left:22vw;
  display:flex;
  outline:none;
  position: absolute;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  background: white;
  padding: 2vw;
  border-radius: 4px;
  width:55.47vw;
  height:49.26vh;
}

 .no-cookie{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.2vw;
  display: flex;
  align-items: center;
  color:#6F6F6F;
 }