.cont {
  height: 8vh;
  background: #ffffff;
  width: calc(100vw - 14vw);
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.2);
}

.menu {
  margin-left: 3vw;
  margin-right: 2rem;
  cursor: pointer;
  justify-content: flex-end;
}

.inps {
  display: flex;
  width: 17.6vw;
  height: 4.26vh;
  background-color: #f6f6f6;
  border: 1px solid #adadad;
  border-radius: 4px;
  cursor: pointer;
}
.btn1 {
  margin-left: 2.5vw;
  align-items: center;
}
.a2 {
  text-decoration: none;
  width: 6vw;
  height: 1.2vw;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 1.2vw;
  display: flex;
  color: #5647ab;
  margin: 0;
}

.a2:hover {
  color: #5647ab;
}

.acc {
  display: flex;
  color: #5647ab;
  justify-content: flex-end;
  flex-direction: row;
}

.svg {
  margin-left: 0.4rem;
}

.ant-menu:not(.ant-menu-horizontal) {
  background-color: white;
  border-top: 1px solid #ADADAD;
}

.ant-menu:not(.ant-menu-horizontal):hover {
	background-color: #7A4EB6;
}

.acc-default {
  color: #adadad;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vh;
  line-height: 3vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.addsite-modal {
  overflow-y: scroll;
  z-index: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
}

.addsite-content {
  left: 50vw;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  outline: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input {
  display: flex;
}
