@import "~antd/dist/antd.css";
@import "global.css";

.login-main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.login-col1 {
  /* width:40vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background: var(--tsaarobackground);
}
.login-col2 {
  display: flex;
  justify-content: flex-start;
  margin-top:3vw;
  flex-direction:column;
  align-items: center;
 
}
.login-r1 {
  margin-left: 15vw;
  display: flex;
  
  margin-top: 3vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vw;
  width: 14vw;
}

.login-r2 {
  margin-left: 8.75vw;
}
.login-r3 {
  margin-left: 6.8vw;
  width: 28.5vw;
}

.login-r4 {
  margin-left: 8vw;
}
.login-image1 {
  height: 3.5vw;
  width: 3.125vw;
  margin-right: 8px;
}
.login-p1 {
  font-family: Samsung Sharp Sans,sans-serif;
  font-size: 2vw;
  margin-top: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6vw;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.login-p2 {
  font-family: Roboto;
  font-size: 1vw;
  margin-top: 3vw;
  width: 28.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2vw;
  text-align: left;
  color: #ffffff;
}
.login-title{

font-family: Roboto;
font-size: 1.5vw;
font-style: normal;
font-weight: 600;
line-height: 1.7vw;
text-align: left;

}

.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  background: var(--tsaarobackground);
}
.login-fg-pwd{
  margin-top:-1vw;
  text-align:right;
  color:#7A4EB6;
  cursor: pointer;

}
.login-wrn-cred{

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #F51D2C;


}
