body.active-scan {
    overflow-y: hidden;
  }
  
  .scan,
  .scan-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .scan-overlay {
    background: rgba(49, 49, 49, 0.8);
  }
  .scan-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }
  
  .scan-img {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1vw;
  }
  
  img{
      width: 2vw;
      height: 2vw;
  }
  
  .scan-heading > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    color: #4acd96;
  }
  
  .scan-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .scan-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  
  .scan-ok {
    background: #7a4eb6;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 4vw;
    height: 2vw;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  