.scan-history-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-direction: column;
    width: 78vw;

}

.scan-alert-box {
  background-color: #fff8d9;
  display: flex;
  margin: 2vw;
  border-radius: 4px;
  border: 1px solid #ADADAD;
}
 
.scan-alert-message {
  font-size: 1vw;
  margin: 0.8vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.scan-alert-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    cursor: pointer;
}

.scan-alert-close{
    cursor: pointer;
}

.scan-alert-box.inactive{
    display: none;
}

.scan-hist-status{
    color: #4ACD96;
    font-size: 1.3vw;
}

.scan-hist-item{
    display:flex;
  font-size: 1vw;
  font-weight: bold;
  width:14.12vw;
  height:6.3vh;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  margin:0;
}

.container-scan {  
    display: flex;
    flex-direction: row;
    width:74vw;
    height:3vh;
    justify-content: space-between;
    margin-bottom: 2vw;
    margin-top: 3vh;
}

.Scan-Status{
  margin-left: 3vw;
  color: #331A55;
  font-size: 1.2vw;
  font-weight: bold;
}

.Cookies{
  color: #331A55;
  font-size: 1.2vw;
  font-weight: bold;

}

.Scan-Comp{
  display:flex;
  color: #331A55;
  font-size: 1vw;
  font-weight: 700;
  width:9vw;
  align-items: center;
  justify-content: center;
  font-family:Roboto;
  font-style: normal;
  line-height:1.2vw;
}

.eye-modal{
  overflow-y: scroll;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.eye-content {
  top:3vh;
  left:22vw;
  display:flex;
  outline:none;
  position: absolute;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  /* background: white; */
  padding: 2vw;
  border-radius: 4px;
  width:55.47vw;
  height:100vh;
}

